*.log
**/__pycache__/
**/mypy_cache/
**/pytest_cache/
**.egg-info/
.git/
.devcontainer/
.github/
.ruff_cache/
.venv/
.idea/
.vscode/
.gitignore
.dockerignore
docker-compose*
Dockerfile
.env
.env.example
README.md
LICENSE
img/
data/