*.log
**/__pycache__/
**/mypy_cache/
**/pytest_cache/
**.egg-info/
.idea/
.git/
.devcontainer/
.github/
.ruff_cache/
.venv/
.vscode/
.gitignore
.dockerignore
Dockerfile
docker-compose*
.env
.env.example
.github/
README.md
LICENSE
img/
data/