*.log
**/__pycache__/
**/mypy_cache/
**/pytest_cache/
bot_car_number.egg-info/
.idea/
.vscode/
.venv/
.git/
.github/
.gitignore
.dockerignore
Dockerfile
docker-compose*
.env
.env.example
.github/
README.md
LICENSE
img/
data/